* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
}
.background-photo {
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding-top: 60px;
}
.image {
  background-image: url(./images/sherlock\ holmes.jfif);
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
}
.card {
  margin: auto;
  width: 320px;
  height: 100px;
}
.text {
  backdrop-filter: blur(5px);
  text-align: center;
}
.text h1 {
  font-family: Dancing Script;
}
button {
  width: 100%;
  background-color: black;
  color: white;
  height: 50px;
  font-size: 20px;
  border: 0px;
  border-radius: 0px 0px 10px 10px;
}
.text ul li {
  display: inline-block;
  font-size: 30px;
  margin: 10px;
}
.text ul li a {
  color: black;
}
.text ul li a:hover {
  color: white;
  font-size: 40px;
}
.text ul li a:active {
  color: rgb(0, 0, 112);
}
