* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  font-family: sans-serif;
}
.bg-color {
  background-image: linear-gradient(to left, rgb(8, 0, 0), rgb(255, 255, 255));
  height: 100%;
  padding: 20px;
}
.bg-color h3,
.bg-color p {
  line-height: 25px;
}
.box-1,
.box-2 {
  text-align: center;
  margin: 20px;
  border: 1px solid black;
  width: 200px;
  height: 200px;
}
.box-3 {
  background-image: url(./image/peakpx.jpg);
  width: 400px;
  height: 200px;
  margin-left: 20px;
}
.box-3 .bg-image {
  background-image: url(./image/peakpx\ 3.jpg);
  background-size: cover;
  height: 100%;
}
img {
  width: 170px;
  height: 150px;
}
/*hover*/
.box-1:hover {
  display: none;
}
.box-2:hover {
  visibility: hidden;
}
