* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100vh;
}
.bg-color {
  background-color: gray;
  height: 100%;
  padding-top: 50px;
  padding-left: 20px;
}
.bg-color div {
  height: 30px;
  width: 150px;
  margin: 5px;
}
a {
  padding: 5px;
  text-align: center;
  color: white;
  font-size: 17px;
  padding-left: 20px;
  border-left: 2px solid black;
  margin-left: 5px;
  margin-bottom: 30px;
}
i {
  color: cyan;
  background-color: rgba(0, 0, 0, 0.612);
  padding: 5px;
  width: 100%;
  font-size: 20px;
  border: 1px solid black;
}
.bg-color div :hover {
  background-color: cyan;
  color: black;
}
.bg-color div :active {
  background-color: blue;
  color: white;
}
