* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
}
.bg-image {
  background-image: url(./image/5137894.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  padding-top: 30px;
}

/*nav-bar*/
.nav-bar {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.903);
  height: 5%;
  font-size: 20px;
  padding: 4px 0 0px 30px;
}
.nav-bar td {
  padding-right: 100px;
  width: 10%;
}
.nav-bar .icon {
  color: red;
  width: 3%;
}
.nav-bar input {
  height: 30px;
  width: 200px;
}
.nav-bar .icon-search {
  padding-left: 50px;
}
/*content*/
.content {
  padding: 1rem;
  border: 1px solid #333;
  margin: 50px auto;
  height: 88%;
  width: 65%;
  backdrop-filter: 10px;
}
