* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
}
.bg-image {
  background-image: url(./image/5137894.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 200%;
  padding-top: 30px;
}

/*nav-bar*/
.nav-bar {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.903);
  height: 5%;
  font-size: 20px;
  padding: 4px 0 0px 30px;
}
.nav-bar td {
  padding-right: 100px;
  width: 7%;
}
.nav-bar .icon {
  color: red;
  width: 3%;
}
.nav-bar input {
  height: 30px;
  width: 200px;
}
.nav-bar .icon-search {
  padding-left: 50px;
}
/*content*/
.bg-image-2 {
  background-image: url(./image/3.jpg);
  background-size: cover;
  background-position: center;
  padding: 1rem;
  margin: 50px auto;
  height: 40%;
  width: 65%;
}
.content {
  height: 100%;
  width: 80%;
  backdrop-filter: blur(5px);
  margin: auto;
}
h2 {
  color: rgba(255, 79, 79, 0.989);
  font-size: 50px;
  margin-bottom: 30px;
  margin-top: 20px;
}
p {
  color: rgba(255, 255, 255, 0.599);
  font-size: 20px;
  margin-bottom: 30px;
}
hr {
  border-color: rgba(255, 79, 79, 0.989);
  margin: auto;
  width: 80%;
}
button {
  border: 0;
  padding: 20px;
  background: #ff1c46;
  font-size: 20px;
  color: black;
}
