* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
.picture {
  background-image: url(./image/25563.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  /* Add the blur effect */
  -webkit-backdrop-filter: blur(2px);
}
.text {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 12%;
  left: 30%;
  text-align: center;
}
h1 {
  font-size: 100px;
  margin-bottom: 0px;
}
p {
  padding-bottom: 60px;
  font-size: 30px;
}
button {
  width: 100px;
}
