* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100vh;
}
.picture {
  background-image: url(./image/25563.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.text {
  color: white;
  font-weight: bold;
  text-align: center;
  /* Add the blur effect */
  backdrop-filter: blur(3px);
  width: 100%;
  height: inherit;
  padding-top: 150px;
}
h1 {
  font-size: 100px;
  margin-bottom: 20px;
}
p {
  padding-bottom: 90px;
  font-size: 30px;
}
button {
  width: 100px;
  border: 2px solid black;
}
