body,
html {
  margin: 0;
  height: 100%;
}
* {
  box-sizing: border-box;
}
.picture {
  background-image: url(./image/25563.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  /* Add the blur effect */
  filter: blur(1px);
}
.text {
  display: inline-block;
  transform: translate(50%, 50%);
}
