* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
}
.bg-color {
  background-image: linear-gradient(to top, rgb(149, 0, 255), rgb(0, 0, 0));
  height: inherit;
}
.text-top {
  color: white;
  text-align: center;
  padding: 20px;
}
.bg-image {
  background-image: url(./image/SteveJobs.jpg);
  height: 250px;
  background-position: center;
  width: 85%;
  margin: auto;
}
.text-bottom {
  width: 650px;
  margin: auto;
  color: white;
  font-size: 20px;
}
