* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
}
.bg-image1 {
  background-image: url(./images/night.avif);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  padding-top: 300px;
}
.night {
  background-image: linear-gradient(to top, rgb(154, 30, 168), rgb(11, 0, 71));
  height: 150px;
}
.btn1 {
  display: block;
  margin: auto;
  width: 200px;
  height: 40px;
  background-color: rgb(23, 23, 83);
  color: white;
  border: 0;
  font-size: 25px;
}
.bg-image2 {
  background-image: url(./images/sea.avif);
  background-position: center;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  padding-top: 300px;
}
.sea {
  background-image: linear-gradient(to top, rgb(3, 166, 3), rgb(0, 145, 255));
  text-align: center;
}
.btn2 {
  display: block;
  margin: auto;
  width: 200px;
  height: 40px;
  background-color: rgb(0, 76, 199);
  color: white;
  border: 0;
  font-size: 25px;
}
.bg-image3 {
  background-image: url(./images/waterfall.avif);
  background-position: center;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  padding-top: 300px;
}
.waterfull {
  background-color: rgb(28, 51, 253);
}
.btn3 {
  display: block;
  margin: auto;
  width: 200px;
  height: 40px;
  background-color: rgb(0, 189, 164);
  color: rgb(0, 0, 0);
  border: 0;
  font-size: 25px;
}
p {
  color: white;
  padding: 50px 80px;
}
