* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: myFirstFont;
  src: url(./fonts/Raleway-Italic-VariableFont_wght.ttf);
}
body,
html {
  height: 100vh;
}
div {
  background-color: grey;
  height: 100%;
}
h1 {
  text-align: center;
  font-family: Chela One;
  font-size: 60px;
}
p {
  text-align: justify;
  margin: 0px 100px 0px 100px;
  font-family: myFirstFont;
  font-size: 30px;
}
