* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: sans-serif;
}
@font-face {
  font-family: myfirstfont;
  src: url(./font/LYjNdG7kmE0gfaN9pQ.woff2);
}
@font-face {
  font-family: yousef;
  src: url(./font/7cHpv4kjgoGqM7E_DMs5.woff2);
}
@font-face {
  font-family: yous;
  src: url(./font/7cHqv4kjgoGqM7E3t-4s51os.woff2);
}
/*nav-bar*/
nav {
  background-color: rgba(0, 0, 0, 0.84);
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0%;
}
nav img {
  float: left;
  padding: 30px 5px 20px 40px;
}
nav a {
  color: white;
  padding: 25px 5px;
  display: inline-block;
  font-size: 45px;
  font-family: myfirstfont;
}
.nav-bar {
  float: right;
  padding: 30px 0px;
}
.nav-bar li {
  display: inline-block;
  color: white;
  margin-right: 50px;
  font-size: 20px;
  font-family: myfirstfont;
}
.nav-bar .title {
  margin-right: 350px;
  padding-bottom: 30px;
}
.nav-bar li img {
  width: 50px;
  height: 50px;
}
.nav-bar li h1 {
  display: inline-block;
}
.nav-bar i {
  font-size: 20px;
  color: rgb(201, 0, 0);
  margin-right: 200px;
}
.btn-1 {
  background-color: red;
  font-family: yousef;
  color: white;
  padding: 20px 25px;
  font-size: 14px;
  border: 0px;
}
li:hover {
  color: rgb(255, 25, 0);
}
/*header*/
.header {
  background-image: url(./images/h1_hero.png.webp);
  background-position: center;
  background-size: cover;
  height: 130vh;
  background-attachment: fixed;
  position: relative;
}
.header hr {
  display: inline-block;
  width: 10%;
  border-color: rgb(184, 49, 0);
  margin-right: 30px;
  padding-bottom: 3px;
  background-color: orangered;
}
.header h3 {
  font-family: myfirstfont;
  color: orangered;
  position: absolute;
  top: 30%;
  left: 10%;
  width: 70%;
}
.header h1 {
  font-family: yous;
  color: white;
  position: absolute;
  top: 37%;
  left: 10%;
  width: 40%;
  line-height: 85px;
  text-align: justify;
  font-size: 60px;
}
.play {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: white;
  background-color: red;
  border: 3px solid red;
  right: 10%;
  top: 60%;
  transition: 0.2s;
}
.play i {
  transform: translate(33px, 28px);
  font-size: 12px;
}
.btn-2 {
  font-family: yousef;
  position: absolute;
  top: 68%;
  left: 10%;
  background-color: red;
  color: white;
  padding: 25px 25px;
  font-size: 16px;
  border: red;
}
button:hover {
  background-color: rgb(102, 0, 0);
}
.play:hover {
  color: red;
  background-color: white;
}
/*section-1*/
.section-1 {
  width: 100%;
  height: 130vh;
  padding: 150px;
}
.section-1 .img {
  float: left;
  width: 600px;
  height: 800px;
}
.section-1 .img img {
  width: 90%;
  height: 90%;
}
.section-1 .text {
  padding: 100px 0px 0px 650px;
}
.text hr {
  display: inline-block;
  width: 10%;
  border-color: rgb(184, 49, 0);
  margin-right: 10px;
  padding-bottom: 3px;
  background-color: orangered;
  border: orangered;
}
.text h4 {
  color: orangered;
  font-family: yousef;
}
.text h1 {
  color: rgb(0, 0, 81);
  margin: 30px 0px;
  font-size: 40px;
  line-height: 50px;
  font-family: yous;
}
.text p {
  line-height: 30px;
  margin: 30px 0px;
}
.text .btn-3 {
  font-family: yousef;
  padding: 10px 40px;
  background-color: red;
  color: white;
  border-color: red;
  margin-top: 60px;
  border: 0px;
}
.btn-3 p {
  margin: 5px 0px;
}
/*section-2*/
.section-2 {
  height: 130vh;
  background-image: url(./images/section_bg01.png.webp);
  background-size: cover;
  background-attachment: fixed;
  padding: 180px;
}
.section-2 h3 {
  color: orangered;
  font-family: yousef;
}
.section-2 hr {
  display: inline-block;
  width: 5%;
  border-color: rgb(184, 49, 0);
  margin-right: 20px;
  padding: 0.5px;
  background-color: orangered;
}
.section-2 h1 {
  color: white;
  width: 55%;
  font-size: 50px;
  text-align: justify;
  margin: 50px 0px;
  line-height: 60px;
  display: inline-block;
  font-family: myfirstfont;
}
.section-2 .btn-4 {
  font-family: yousef;
  float: right;
  padding: 20px 30px;
  background-color: red;
  color: white;
  border-color: red;
  margin-top: 140px;
  border: 0px;
}
.boxes {
  margin-top: 50px;
  width: 100%;
  height: 65%;
}
.boxes div {
  width: 32%;
  height: 100%;
  background-color: white;
  float: left;
  position: relative;
}
.boxes h1 {
  color: black;
  display: block;
  font-size: 18px;
  text-align: center;
  width: 100%;
  font-family: yousef;
  margin: 80px 0px 10px 0px;
}
.boxes p {
  color: rgba(0, 0, 0, 0.723);
  text-align: center;
  margin: 0px 40px;
  line-height: 2;
}
.boxes span {
  font-size: 60px;
  transform: translate(250%, 100%);
  text-align: center;
}
.boxes button {
  width: 100%;
  position: absolute;
  bottom: 0%;
  padding: 0px 0px;
  background-color: red;
  color: white;
  border-color: red;
  border: 0px;
  height: 0px;
  transition: 0.5s;
}
.boxes a {
  font-family: myfirstfont;
  font-size: 0px;
}
.boxes a i {
  margin-left: 20px;
}
.box-2 {
  margin: 0px 22px;
}
.boxes div:hover span {
  color: rgb(255, 17, 0);
}
.boxes h1:hover {
  color: rgb(255, 30, 0);
}
.boxes div:hover button {
  padding: 20px 0px;
  height: 65px;
}
.boxes div:hover a {
  font-size: 17px;
}
/*section-3*/
.section-3 {
  height: 130vh;
  padding: 80px 0px;
}
.section-3 .content {
  height: 110vh;
  position: relative;
}
.section-3 .box-1 {
  height: 100%;
  width: 50%;
  background-image: url(./images/gallery1.png.webp);
  position: absolute;
}
.section-3 .box-2 {
  width: 23%;
  height: 48%;
  background-image: url(./images/gallery2.png.webp);
  position: absolute;
  top: 0%;
  left: 50.5%;
}
.section-3 .box-3 {
  width: 23%;
  height: 48%;
  background-image: url(./images/gallery3.png.webp);
  position: absolute;
  top: 0%;
  right: 0%;
}
.section-3 .box-4 {
  width: 23%;
  height: 48%;
  background-image: url(./images/gallery4.png.webp);
  position: absolute;
  bottom: 0%;
  left: 52%;
}
.section-3 .box-5 {
  width: 23%;
  height: 48%;
  background-image: url(./images/gallery5.png.webp);
  position: absolute;
  bottom: 0%;
  right: 0%;
}
.content .shadow {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.247),
    rgb(0, 0, 0)
  );
  padding-top: 40%;
  display: none;
}
.content .shadow .buttom {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: white;
  background-color: red;
  transition: 0.2s;
  margin: auto;
}
.shadow .buttom i {
  transform: translate(22px, 20px);
  font-size: 20px;
}
.shadow .buttom:hover {
  color: red;
  background-color: white;
}
.shadow h1 {
  color: white;
  text-align: center;
  margin: 20px 0px 5px 0px;
  font-family: myfirstfont;
  font-size: 28px;
}
.shadow p {
  color: white;
  text-align: center;
}
.content :hover .shadow {
  display: block;
}
