* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  font-family: sans-serif;
}
/*nav-bar*/
nav {
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  width: 100%;
  z-index: 2;
}
nav img {
  float: left;
  padding: 30px 5px 20px 40px;
}
nav h1 {
  color: white;
  padding: 30px 5px;
  display: inline-block;
  font-size: 40px;
}
.nav-bar {
  float: right;
  padding: 30px 0px;
}
.nav-bar li {
  display: inline-block;
  color: white;
  margin-right: 50px;
}
.nav-bar .title {
  margin-right: 350px;
  padding-bottom: 30px;
}
.nav-bar li img {
  width: 50px;
  height: 50px;
}
.nav-bar li h1 {
  display: inline-block;
}
.nav-bar i {
  font-size: 20px;
  color: rgb(201, 0, 0);
  margin-right: 200px;
}
.btn-1 {
  background-color: red;
  font-family: sans-serif;
  color: white;
  padding: 20px 25px;
  font-size: 14px;
  border: 0;
  clear: right;
}
/*section-1*/
.section-1 {
  background-image: url(./images/h1_hero.png.webp);
  background-position: center;
  background-size: cover;
  height: 130vh;
  background-attachment: fixed;
  position: relative;
}
.section-1 hr {
  display: inline-block;
  width: 10%;
  border-color: rgb(184, 49, 0);
  margin-right: 30px;
  padding-bottom: 3px;
  background-color: orangered;
}
.section-1 h3 {
  color: orangered;
  position: absolute;
  top: 33%;
  left: 10%;
  width: 70%;
}
.section-1 h1 {
  color: white;
  position: absolute;
  top: 43%;
  left: 10%;
  width: 40%;
  line-height: 70px;
  text-align: justify;
  font-size: 50px;
}
.play {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: white;
  background-color: red;
  border: 3px solid red;
  right: 10%;
  top: 60%;
  transition: 0.2s;
}
.play i {
  transform: translate(33px, 28px);
  font-size: 12px;
}
.btn-2 {
  font-family: sans-serif;
  position: absolute;
  top: 68%;
  left: 10%;
  background-color: red;
  color: white;
  padding: 30px;
  font-size: 16px;
  border: 0;
  width: 15%;
}
button:hover {
  background-color: rgb(102, 0, 0);
}
.play:hover {
  color: red;
  background-color: white;
}
/*section-2*/
.section-2 {
  width: 100%;
  height: 150vh;
  padding: 150px;
}
.section-2 .img {
  float: left;
  width: 600px;
  height: 800px;
}
.section-2 .img img {
  width: 90%;
  height: 90%;
}
.section-2 .text {
  padding: 100px 0px 0px 650px;
}
.text hr {
  display: inline-block;
  width: 10%;
  border-color: rgb(184, 49, 0);
  margin-right: 10px;
  padding-bottom: 3px;
  background-color: orangered;
  border: 0px;
}
.text h5 {
  color: orangered;
}
.text h1 {
  color: rgb(0, 0, 81);
  margin: 5% 0%;
  line-height: 50px;
}
.text p {
  line-height: 30px;
  margin: 5% 0%;
}
.text .btn-3 {
  padding: 10px 40px;
  background-color: red;
  color: white;
  border: 0px;
  margin-top: 60px;
}
/*section-3*/
.section-3 {
  height: 130vh;
  background-image: url(./images/section_bg01.png.webp);
  background-size: cover;
  background-attachment: fixed;
}
