* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
}
.bg-color {
  background-color: rgba(0, 0, 0, 0.827);
  height: 100%;
  padding-top: 20px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
}
h1 {
  margin-bottom: 35px;
}
table {
  width: 60%;
  text-align: left;
  margin: auto;
  border-collapse: collapse;
}
td {
  padding: 20px;
  font-size: 30px;
}
th {
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 30px;
}
button {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}
a {
  text-decoration: none;
  font-size: 30px;
  background-color: rgba(148, 6, 6, 0);
}
p {
  background-color: rgba(0, 0, 0, 0);
}
.odd-line {
  color: rgba(255, 255, 255, 0.421);
}
.even-line {
  background-color: rgba(0, 0, 0, 0.289);
  color: rgba(255, 255, 255, 0.279);
}
tr:hover .yellow {
  color: rgba(255, 255, 0, 0.773);
}
tr:hover .white {
  color: white;
}
