* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
html,
body {
  height: 100vh;
  background-color: black;
}
.content {
  height: 90%;
  width: 80%;
  margin: auto;
  padding-top: 50px;
  display: flex;
}
.content .left {
  height: 100%;
  width: 40%;
  background-image: linear-gradient(
    to left,
    rgb(153, 69, 0),
    rgb(244, 117, 75)
  );
  text-align: center;
}
.content .left img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: 20px;
}
.left h1,
.left p {
  margin: 10px 0px;
  color: white;
  font-size: 50px;
}
.connections ul {
  margin-top: 20px;
}
.connections ul li {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-color: rgb(67, 67, 67);
  padding-top: 15px;
  margin-left: 20px;
  border-radius: 5px;
}
.connections ul li a {
  color: white;
  font-size: 40px;
}
.content button {
  margin-top: 30px;
  font-size: 40px;
  color: white;
  background-color: black;
  padding: 20px;
  border: none;
}
.content .right {
  width: 60%;
  height: 100%;
  background-color: white;
}
.right h1 {
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
}
.right hr {
  width: 90%;
  color: rgba(255, 255, 255, 0.188);
  margin: auto;
}
.communication {
  display: flex;
}
.communication .phone {
  margin-left: 200px;
}
.email p {
  color: rgba(0, 0, 0, 0.292);
  margin-left: 100px;
  font-size: 20px;
}
.phone p {
  color: rgba(0, 0, 0, 0.292);
  font-size: 20px;
  margin-left: 17px;
}
.right form {
  margin-top: 50px;
  text-align: center;
}
.right form input[type="text"] {
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: none;
  width: 90%;
  background: linear-gradient(to right, #434343, #000000);
  color: white;
}
.right form input[type="submit"] {
  background: linear-gradient(to left, #434343, #000000);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}
.right form .message {
  height: 200px;
}
