* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
}
.nav-bar {
  background-color: black;
  padding: 10px;
  height: 10vh;
}
.nav-bar li {
  display: inline-block;
  color: white;
  margin-right: 50px;
  width: 13%;
}
.nav-bar i {
  font-size: 20px;
  color: rgb(201, 0, 0);
}
.bg-image {
  background-image: url(./images/young-fitness-man-studio.jpg);
  background-position: center;
  background-size: cover;
  height: 90vh;
}
.shadow {
  height: 100%;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
