* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
}
.bg-color {
  background-color: grey;
  height: 100%;
  padding: 20px;
}
h1 {
  text-shadow: 2px 2px 5px red;
  text-align: center;
  font-size: 80px;
  margin-bottom: 20px;
}
p {
  font-size: 30px;
}
.english {
  text-align: left;
  width: 60%;
  color: rgb(67, 26, 14);
  line-height: 35px;
}
.persian {
  direction: rtl;
  text-align: right;
  padding-left: 500px;
}
hr {
  color: black;
}
span {
  text-decoration-line: underline;
  text-decoration-color: rgb(255, 0, 0);
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}
